@font-face {
	font-family: boxicons;
	font-display: swap;
	src: url("../fonts/boxicons.woff2") format("woff2"), url("../fonts/boxicons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
