$bp1600: 1599.98px;
$bp1440: 1439.98px;
$bp1280: 1279.98px;
$bp1024: 1023.98px;
$bp1000: 999.98px;
$bp800: 799.98px;
$bp768: 767.98px;
$bp600: 599.98px;
$bp480: 479.98px;
$bp375: 374.98px;
$bp320: 319.98px;


